* {
	margin: 0;
	padding: 0;
}
html,body{
	height:100%;
	-webkit-font-smoothing: antialiased;
	-webkit-backface-visibility: hidden;
	word-wrap:break-word;
}
.row{
	margin:0;
}
#wraper{
	position:relative;
	height:100%;
	border: 2px solid #fff;
	overflow:hidden;
}
#wraperfondo{
	position:absolute;
	height:100%;
	width:100%;
	z-index:10;
	background:url('../img/bg.png');
}
.contenido{
	position:relative;
	width:100%;
	height:100%;
	z-index:100;
}
.closebutton{
	float:right; 
	margin-top:18px; 
	margin-right:18px; 
	cursor:pointer;
}
.closebutton:hover{
	opacity:0.5;
}
/**********************************MENU********************************************/
.menuright{
	position:absolute;
	right:-60%;
	top:0;
	width:60%;
	height:100%;
	background:#fff;
	z-index:1000;
	border: 2px solid #fff;
	overflow-y: auto;
	overflow-x:hidden;
	-webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
	-o-transition: all 1s;
	-moz-transition: all 1s;
    transition: all 1s;
}
.menuheader{
	height:65px;
	width:100%;
}
/*********************************CONTACTO******************************************/
#contacto{
	position:relative;
	background:#fff;
	height:400px;
	overflow:hidden;
	z-index:100;
}
