* {
	margin: 0;
	padding: 0;
}
html,body{
	height:100%;
	-webkit-font-smoothing: antialiased;
	-webkit-backface-visibility: hidden;
	word-wrap:break-word;
	background-color: #000;
}


.container{
	width:100%;
	padding:0 60px;
	height:100%;
}
.row{
	margin:0;
}
#wraper{
	position:relative;
	height:100%;
	/*border: 2px solid #fff;*/
	overflow:hidden;
}
#wraperfondo{
	position:absolute;
	height:100%;
	width:100%;
	z-index:10;
	background:url('../img/bg.png');
	border:2px solid #fff;
}
#cerrar{
	position:absolute;
	height:100%;
	width:100%;
	z-index:20;
	background:none;
	border:2px solid #fff;
	display:none;
}
.contenido{
	position:relative;
	width:100%;
	height:100%;
	z-index:100;
	overflow: hidden;
}
.closebutton{
	float:right; 
	margin-top:18px; 
	margin-right:18px; 
	cursor:pointer;
}
#clsfull{
	position:absolute;
	top:50%;
	right:0;
	margin-top:-15px;
	padding:5px 15px;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	color:#fff; 
	font-family:'AkzidenzGrotesk-BoldItalic';
	cursor:pointer;
	z-index:10;
	background:#000;
	opacity:0.7;
	-webkit-transition: all 0.6s; /* For Safari 3.1 to 6.0 */
	-o-transition: all 0.6s;
	-moz-transition: all 0.6s;
    transition: all 0.6s;
}
.closebutton:hover{
	opacity:0.5;
}
#clsfull:hover{
	background:#f90e32;
	opacity:1;
}
video#bgvid,video#bgvid3 {
	position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
}
video#bgvid2,video#bgvid4 {
	position: relative; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
}
h1{
	font-size:105px;
	font-family: 'AkzidenzGrotesk-Bold';
	color:#fff;
	text-align: right;
	line-height:0.80em;
	margin-top:0;
}
h2{
	font-size:36px;
	font-family: 'AkzidenzGrotesk-Regular';
	color:#fff;
	text-align: right;
	line-height:0.8em;
	margin:0;
}
.bwatch{
	padding:2px 40px;
	font-family: 'AkzidenzGrotesk-BoldItalic';
	color:#f90e32;
	text-transform:uppercase;
	background:#fff;
	border:none;
	float:right;
	-webkit-transition: all 0.6s; /* For Safari 3.1 to 6.0 */
	-o-transition: all 0.6s;
	-moz-transition: all 0.6s;
    transition: all 0.6s;
}
.bwatch:hover{
	background:#f90e32;
	color:#fff;
}
.all{
	padding:0 !important;
}
#bufferload{
	display:none;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-10px;
	margin-top:-10px;
	z-index:9000;
}
@media(max-width:1199px){
	h1{
		font-size:90px;
	}
	h2{
		font-size:30px;
	}
}
@media(max-width:991px){
	h1{
		font-size:70px;
	}
	h2{
		font-size:25px;
	}
	html,body{
		font-size:12px;
	}
}
@media(min-height:681px){
	.aboutborder{
		max-height:250px;
		overflow:auto;
	}
}
@media(max-height:680px){
	h1{
		font-size:90px;
	}
	.aboutborder{
		max-height:180px;
		overflow:auto;
	}
}
@media(max-height:640px){
	h2{
		font-size:25px;
	}
	h1{
		font-size:70px;
	}
	.aboutborder{
		max-height:140px;
		overflow:auto;
	}
}
@media(max-height:550px){
	h2{
		font-size:18px;
	}
	h1{
		font-size:45px;
	}
	.aboutborder{
		max-height:80px;
		overflow:auto;
	}
	.proybutton{
		font-size: 10px;
	}
}

@media(max-width:767px){
	.container{
		padding: 0 15px;
		padding-bottom:20px;
		overflow:auto;
	}
	h2{
		font-size:25px;
	}
	h1{
		font-size:45px;
	}
	video#bgvid2 {
		width: 100%; 
		height: 100%;
		left:0;
		-webkit-transform: translateY(50%);
	}
	.proybutton{
		border:1px solid #fff;
	}
	.aboutborder{
		max-height:none;
		overflow:auto;
	}
}

/********************************MENU********************************************/
@media(max-height:550px){
	h2{
		font-size:18px;
	}
	h1{
		font-size:45px;
	}
	.aboutborder{
		
		overflow:auto;
	}
	.proybutton{
		font-size: 10px;
	}
}
/**********************************MENU********************************************/
.menuright{
	position:absolute;
	right:-60%;
	top:0;
	width:53%;
	height:100%;
	z-index:1000;
	border: 2px solid #fff;
	overflow-y: auto;
	overflow-x:hidden;
	-webkit-transition: all 0.6s; /* For Safari 3.1 to 6.0 */
	-o-transition: all 0.6s;
	-moz-transition: all 0.6s;
    transition: all 0.6s;
    -webkit-box-shadow: -3px 0px 26px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:    -3px 0px 26px 0px rgba(0, 0, 0, 0.6);
	box-shadow:         -3px 0px 26px 0px rgba(0, 0, 0, 0.6);
}
.menuheader{
	height:65px;
	width:100%;
	background:#fff;
}
#menu{
	position:absolute;
	top:50%;
	margin-top:-90px;
}
#menu ul{
	padding:0;
	margin:0;
}
#menu ul li{
	list-style:none;
	padding:5px 0;
	color:#fff;
}
#menu ul li a{
	font-family: 'AkzidenzGrotesk-Regular';
	text-transform: uppercase;
	color:#fff;
	text-decoration: none;
	-webkit-transition: all 0.6s; /* For Safari 3.1 to 6.0 */
	-o-transition: all 0.6s;
	-moz-transition: all 0.6s;
    transition: all 0.6s;
}
#menu ul li a.active, #menu ul li a:hover{
	font-family: 'AkzidenzGrotesk-Bold';
	color:#f90e32;
}
.idioma a{
	font-family: 'AkzidenzGrotesk-Italic' !important;
	-webkit-transition: all 0.6s; /* For Safari 3.1 to 6.0 */
	-o-transition: all 0.6s;
	-moz-transition: all 0.6s;
    transition: all 0.6s;
}
.idioma a.active, .idioma a:hover{
	font-family: 'AkzidenzGrotesk-Italic' !important;
	color:#f90e32;
}
.sidemenu ul{
	padding:20px 0;
	margin:0;
}
.sidemenu ul li{
	display:inline-block;
	list-style:none;
	font-family: 'AkzidenzGrotesk-Bold';
	padding:0 15px;
	text-transform: uppercase;
	cursor:pointer;
	-webkit-transition: all 0.6s; /* For Safari 3.1 to 6.0 */
	-o-transition: all 0.6s;
	-moz-transition: all 0.6s;
    transition: all 0.6s;
}
.sidemenu ul li.active, .sidemenu ul li:hover{
	color:#f90e32;
}
.proyectofondo{
	margin: 1px 0;
	position:relative;
}
.vidpreview{
	position:absolute;
	width:100%;
	height:100%;
	/*background:#000;
	margin: 1px 0;*/
	top:0;
	/*margin-top:-30%;*/
	z-index:10;
	display:none;
}
#video-container {
	position: absolute;
}
#video-container {
	top:0%;
	left:0%;
	height:100%;
	width:100%;
	overflow: hidden;
	background:#000;
}
.fillWidth{
	width:100%;
}
.listproyectos{
	overflow:hidden;
	min-width:100%;
	position:absolute;
}

.listproyectos > a{
	display: block;
	border-bottom:solid #fff 2px;
}

.fondo_proyectos{
	position: absolute;
	height:100%;
	width:100%;
	background-color: #fff;
	opacity: 0.3;
	z-index:-1;
}

.fcategoria{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	opacity:0.7;
	background:#000;
}
h4{
	text-align:center;
	font-size:18px;
	font-family: 'AkzidenzGrotesk-Regular';
	color:#fff;
	margin:0;
	line-height:0.8em;
}
h3{
	text-align:center;
	font-size:36px;
	font-family: 'AkzidenzGrotesk-Bold';
	color:#fff;
	margin:0;
	line-height: .8em;
}
.cattitulos{
	position:absolute;
	width:100%;
	top:50%;
	margin-top:-25px;
	z-index:10;
}

.navbar-default {
background-color:transparent;
border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-toggle .icon-bar {
	display: block;
	width: 30px;
	height: 4px;
	border-radius: 1px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent;
}

#bs-example-navbar-collapse-1{
	position:absolute;
	top:-15px;
	left:0;
	right:0;
	z-index:1000;
	background-color:#fff;
	text-align:center;
}

.nav > li > a {
	text-align: center;
	
}

.navbar-default .navbar-nav > li > a {
	color:#f90e32;
}

@media(max-width:767px){
	#menu{
		display:none;
	}
	.menuright{
		position:absolute;
		right:-100%;
		top:90px;
		bottom:0;
		width:100%;
		height:auto;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.pmenu{
		color:#000 !important;
		font-family: 'AkzidenzGrotesk-Italic';
	}
	.pmenu.active{
		color:#f90e32 !important;
	}
	.idiomas a{
		color:#000;
		font-family: 'AkzidenzGrotesk-Regular';
	}
	.idiomas a.active{
		color:#f90e32;
	}
}
/*************************************INICIO***************************************/
.titulorojo, .titulorojo2{
	position:absolute;
	width:0px;
	overflow:hidden;
}
.logohome{
	padding-top:45px;
}
.logobottom{
	position:absolute;
	width:100%;
	left:0;
	padding:0 30px;
	bottom:40px;
}
.logobottomr{
	position:absolute;
	width:100%;
	left:0;
	padding:0 30px;
	bottom:40px;
}
#fullscreenvideo{
	display:none;
}
.hometitle{
	margin-top:10%;
}
@media(max-width:767px){
	.logohome{
		padding-top:15px;
	}
	.logobottom{
		display:none;
	}
	.logobottomr{
		padding: 0 15px;
		bottom:15px;
	}
	.logobottomr img{
		max-width:100%;
		margin: 0 auto;
		display: table;
	}
}
/********************************ABOUT*********************************************/
.about{
	display:none;
}
.aboutbg{
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	right:0;
	background:url('../img/aboutbg.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.aboutborder{
	border:1px solid #fff;
	/*padding:15px;*/
	padding-right:15px;
	padding-bottom:15px;
}
.aboutborder p{
	color:#fff;
	font-family: 'AkzidenzGrotesk-Regular';
	text-align: justify;
}
.redesabout{
	text-align:right;
	padding:0;
	margin-top:-1px;
	border:1px solid #fff;
}
.redesabout a{
	display: inline-block !important;
	margin-left: -5px;
}
.textboldw{
	font-family: 'AkzidenzGrotesk-BoldItalic';
	color:#fff;
	margin-right:60px;
}
button.redesb{
	border:none;
	border-left:1px solid #fff;
	padding:5px 15px;
	width:50px;
	text-align: center;
	cursor:pointer;
	background:none;
	color:#fff;
	text-decoration:none;
	-webkit-transition: all 0.6s; /* For Safari 3.1 to 6.0 */
	-o-transition: all 0.6s;
	-moz-transition: all 0.6s;
    transition: all 0.6s;
}
.redesb fa{
	font-size:15px;
}
button.redesb:hover{
	background:#f90e32;
	color:#fff;
}
@media(max-width:991px){
	.textboldw{
		margin-right:5px;
		font-size:12px;
	}
	button.redesb{
		font-size:15px;
		width:40px;
		padding:5px 0;
		text-align: center;
	}
	.redesb fa{
		font-size:12px;
	}
}
/********************************PROYECTOS*******************************************/
.proyecto{
	display:none;
	color: #fff;
	font-family: 'AkzidenzGrotesk-Regular';
	-webkit-transition: all 0.6s; /* For Safari 3.1 to 6.0 */
	-o-transition: all 0.6s;
	-moz-transition: all 0.6s;
    transition: all 0.6s;
}
.videoproyecto{
	display:none;
}
.galleryright{
	display:none;
	position:absolute;
	right:-60%;
	top:0;
	width:53%;
	height:100%;
	background:transparent;
	z-index:900;
	border-left:solid #fff 2px;
	border-right:solid #fff 2px;
	overflow-y: auto;
	overflow-x:hidden;
	-webkit-transition: all 0.6s; /* For Safari 3.1 to 6.0 */
	-o-transition: all 0.6s;
	-moz-transition: all 0.6s;
    transition: all 0.6s;
    -webkit-box-shadow: -3px 0px 26px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:    -3px 0px 26px 0px rgba(0, 0, 0, 0.6);
	box-shadow:         -3px 0px 26px 0px rgba(0, 0, 0, 0.6);
}
.vimeoright{
	display:none;
	position:absolute;
	right:-60%;
	top:0;
	width:53%;
	height:100%;
	background:transparent;
	z-index:900;
	border-left:solid #fff 2px;
	border-right:solid #fff 2px;
	overflow-y: auto;
	overflow-x:hidden;
	-webkit-transition: all 0.6s; /* For Safari 3.1 to 6.0 */
	-o-transition: all 0.6s;
	-moz-transition: all 0.6s;
    transition: all 0.6s;
    -webkit-box-shadow: -3px 0px 26px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:    -3px 0px 26px 0px rgba(0, 0, 0, 0.6);
	box-shadow:         -3px 0px 26px 0px rgba(0, 0, 0, 0.6);
}

img.gray-img{
	-webkit-filter: grayscale(100%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	filter: grayscale(100%);
}

img.gray-img:hover{
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: none;	
}

.proylink{
	padding:0px;
	margin-top:-1px;
}
button.proybutton{
	width:100%;
	text-align:center;
	border:1px solid #fff;
	background:none;
	font-family: 'AkzidenzGrotesk-BoldItalic';
	padding:2px 0;
	color:#fff;
	-webkit-transition: all 0.6s; /* For Safari 3.1 to 6.0 */
	-o-transition: all 0.6s;
	-moz-transition: all 0.6s;
    transition: all 0.6s;
}
button.watchproy{
	background:#fff;
	color:#f90e32;
}
button.proybutton:hover{
	background:#f90e32;
	color:#fff;
}
#fullscreenvideo2{
	display:none;
}
@media(max-width:767px){
	.galleryright{
		position:absolute;
		right:-100%;
		top:90px;
		bottom:0;
		width:100%;
		height:auto;
	}
	.vimeoright{
		position:absolute;
		right:-100%;
		top:90px;
		bottom:0;
		width:100%;
		height:auto;
	}
	button.proybutton{
		padding:10px 0;
	}
}
/*********************************CONTACTO******************************************/
#contacto{
	position:relative;
	background:#fff;
	height:400px;
	overflow:hidden;
	z-index:100;
}
#contacto .container{
	margin-top:70px;
}
.textbold{
	font-family: 'AkzidenzGrotesk-BoldItalic';
}
.textMedIt{
	font-family: 'AkzidenzGrotesk-MediumItalic';
	font-size:13px;
}
.textMedItBottom{
	font-family: 'AkzidenzGrotesk-MediumItalic';
	font-size:12px;
}
.textitalic{
	font-family: 'AkzidenzGrotesk-Italic';
}
.tabborder{
	border: 1px solid #000;
}
.bdbtm{
	text-align: center;
	border-bottom: 1px solid #000;
}
.tbdefault{
	font-family: 'AkzidenzGrotesk-Italic';
	font-size:12px;
	padding: 0 5px;
}
.bgblack{
	text-align: center;
	font-family: 'AkzidenzGrotesk-MediumItalic';
	border-bottom: 1px solid #000;
	background:#000;
	color:#fff;
}
.bgblack a{
	color:#fff;
}
.topsec{
	margin-bottom:60px;
}
.imgcontacto{
	padding-top:85px;
}
button.redes{
	width:100%;
	border:1px solid #000;
	padding:4px 0;
	text-align: center;
	cursor:pointer;
	background:#fff;
	color:#000;
	text-decoration:none;
	-webkit-transition: all 0.6s; /* For Safari 3.1 to 6.0 */
	-o-transition: all 0.6s;
	-moz-transition: all 0.6s;
    transition: all 0.6s;
    height:36px;
}
button.redes:hover{
	background:#f90e32;
	color:#fff;
}
@media(max-width:991px){
	.textMedIt{
		font-size:12px;
	}
}
@media(max-width:767px){
	.topsec{
		margin-bottom:20px;
	}
	#contacto{
		position:relative;
		height:100%;
		overflow:auto;
	}
	#contacto .container {
		height: auto;
	}
	.imgcontacto{
		padding:20px 0;
		margin-top:-70px;
	}
}
/*********************************LOADING***********************************************/
.loader {
	position: fixed;
	left: 0px;
	/*top: -100%;*/
	top: 0;
	width: 100%;
	height: 100%;
	overflow:hidden;
	z-index: 9999;
	background: #000;
}
.loader2 {
	position: fixed;
	/*left: -100%;*/
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow:hidden;
	z-index: 9000;
	background: #000;
}
.loader3 {
	position: fixed;
	/*left: 100%;*/
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow:hidden;
	z-index: 9000;
	background: #000;
}
.loader4 {
	position: fixed;
	left: 0px;
	/*top: 100%;*/
	top: 0;
	width: 100%;
	height: 100%;
	overflow:hidden;
	z-index: 9000;
	background: #000;
}
.imgloading{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top:-25px;
	margin-left:-28px;
}
.imgloading2{
	position: absolute;
	left: 50%;
	top: 50%;
	width:0%;
	overflow:hidden;
	margin-top:-25px;
	margin-left:-28px;
}
/************************************SLIDER**********************************************/
#content-slider-1{
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background:#000;
	z-index:0;
}
#content-slider-2{
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background:#000;
	z-index:0;
}
.contentSlider {
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height:100%;
	background:#000;
}
.contentSlider,
.contentSlider .rsOverflow,
.contentSlider .rsSlide,
.contentSlider .rsVideoFrameHolder,
.contentSlider .rsThumbs {
  background:#000;
  color: #000;
}

.contentSlider .rsOverflow {
background: #000;
height: 100% !important;
}

.contentSlider .rsSlide,
.contentSlider .rsOverflow {
  background: #eee;
}
.contentSlider h3 {
  font-size: 24px;
  line-height: 31px;
  margin: 12px 0 8px;
  font-weight: bold;
}
.contentSlider img {
  max-width: 100%;
  height: auto;
  display: block;
}
.content-slider-bg {
  width: 86%;
  padding: 24px 7%;
  background: #eee;
}
.contentSlider .rsSlide, .contentSlider .rsOverflow {
background: #000;
height:100%;
}
.rsDefault .rsTabs{
	display:none;
}
/******************************FUENTES**************************************************/
@font-face{
	font-family: 'AkzidenzGrotesk-BoldItalic';
	src: url('../fonts/AkzidenzGrotesk-BoldItalic.woff');
}
@font-face{
	font-family: 'AkzidenzGrotesk-Bold';
	src: url('../fonts/AkzidenzGrotesk-Bold.woff');
}
@font-face{
	font-family: 'AkzidenzGrotesk-Italic';
	src: url('../fonts/AkzidenzGrotesk-Italic.woff');
}
@font-face{
	font-family: 'AkzidenzGrotesk-Medium';
	src: url('../fonts/AkzidenzGrotesk-Medium.woff');
}
@font-face{
	font-family: 'AkzidenzGrotesk-MediumItalic';
	src: url('../fonts/AkzidenzGrotesk-MediumItalic.woff');
}
@font-face{
	font-family: 'AkzidenzGrotesk-Regular';
	src: url('../fonts/AkzidenzGrotesk-Regular.woff');
}