<IfModule mod_rewrite.c>

	AddType video/ogg .ogv
	AddType video/mp4 .mp4
	AddType video/webm .webm

	Options +FollowSymLinks

	RewriteEngine On	
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^es$ index.php?idioma=es [L]
	RewriteRule ^en$ index.php?idioma=en [L]
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d		
			
</IfModule>